/* Global config */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 10px;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(46, 41, 41);
}